*{
    box-sizing: border-box;
}

body{
    height: auto;
    opacity: 3;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    background-image: url("bd2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow:hidden;
}


.homepage{
    align-content: center;
    text-align: center;
    opacity: 1;
    position: relative;

}

h2{
    text-decoration:underline;
    font-family:cursive;
    font-weight: bolder;
    top: 0.2rem;
    font-size: x-large;
}

.login-panel{
    height:700px;
    width: 600px;
    background:white;
    border-radius: 20px;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.list-of-words{
    height: 400px;
    width: 340px;
    overflow-y: auto;
    font-size: large;
    background: #dcdcdc9e;
    border-radius:20px;
    color: black;
    border:1px solid grey;
    font-family: cursive;
}

.words{
    list-style-type:none;
   align-items: center;
}

.login-details{
    margin: 130px auto 0;
    padding: 30px 10% 50px;
    border-radius: 5px;
}

.input-area{
    margin: 0 0 10px;
}

.input-area input{
    width: 100%;
    height: 40px;
    padding: 0 8px;
    border: 1px solid black;
    text-overflow: ellipsis;
    font-size: 1rem;
    direction: ltr;
}

.inputword{
    outline: none;
    border: none;
    padding: 10px;
    height: 60px;
    width: 450px;
    font-size: 20px;
    color: gray;
    border-bottom: 3px solid grey;
    margin-bottom: 20px;   
}

button{
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loggedin{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loginbtn {
    display: block;
    height: 40px;
    background: rgb(73, 126, 156);
    color: honeydew;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: not-allowed;
    align-items: center;
}

.submitbtn{
    background: rgb(108, 151, 185);
    color: honeydew;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: no-drop;
}

.resbtn{
    background: rgb(121, 59, 124);
    color: white;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
    font-weight:bolder;
    cursor: pointer;
}

.logoutbtn{
    background: rgb(7, 7, 7);
    color: honeydew;
    position:absolute; 
    top:0.2rem; 
    right:0.2rem;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
}

.gamepage{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.words-set,.valid-words{
    max-width: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-panel h3 {
    text-align: center;
    text-decoration: underline;
    font-size: x-large;
    font-family: cursive;
}

.input-panel{
        background: white;
        border-radius: 20px;
        padding: 20px;
}

.input-word form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-function{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.words-set .valid_words .input-panel{
    display: flex;
    flex-direction: row;
}

.message-area{
    word-wrap: break-word;
    width: 400px;
}

